.side-bar {
  background-color: $side_blue_dark;
    height: 100vh;
    width:  300px;
    &__header{
      background-color: $side_blue_dark;
      height: 100px;
      width:  300px;
      display:flex ;
      align-items: center;
      &__contents{
        background-color: $side_blue_dark;
        height: 20px;
        width:  260px;
        margin: auto;
        display:flex;
        justify-content:space-between;
        line-height:20px;
        &__name{
          color: $saidffffff;
          text-decoration: none;
          font-weight: bold;
          }
        &__icons{
          background-color: $side_blue_dark;
          width: 60px;
          text-align:right;
          text-decoration: none;
          padding-left: 5px;
          &__edit{
            text-decoration: none;
            color: $saidffffff;
            }
          &__cog{
            text-decoration: none;
            color: $saidffffff;
            }
          }
        }
      }
  &__groups{
    background-color: #2f3e51;
    height: calc(100% - 100px);
    width:  300px;
    padding: 20px 20px 0;
    text-decoration: none;
    overflow: scroll;
    &__group{
      color: $saidffffff;
      height: 91px;
      width:  100%;
      margin-bottom: 40px;
      overflow: scroll;
      cursor: pointer;
      text-decoration: none;
      &__nems{
        color: $saidffffff;
        height: 15px;
        width:  100%;
        font-size: 15px;
        margin-top: 0;
        text-decoration: none;
        }
      &__message{
        color: $saidffffff;
        height: 11px;
        font-size: 11px;
        width:  100%;	
        margin: 5px 0;
        text-decoration: none;
        }
      }
    }
  }


